.account-login {width: 30%;background: #fff;border-radius: 10px;display: table-cell;}
.account-login form{padding: 25px;}   
.account-login h3{margin: 0}

.account-login .form-btn{border-radius: 100px;border:1px solid #ddd;}
.brdr{position: relative;}
.brdr::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ddd;
    width: 125px;
    height: 10px;
    margin-left: 15px;
}
.brdr::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ddd;
    width: 125px;
    height: 10px;
    left: 10px;
}